.driver-popover.driverjs-theme {
  background-color: hsl(var(--card));
  border: 0.5px solid hsl(var(--border));
  @apply text-foreground;
}

.driver-popover.driverjs-theme .driver-popover-title {
  font-size: 20px;
}

.driver-popover.driverjs-theme .driver-popover-title,
.driver-popover.driverjs-theme .driver-popover-description,
.driver-popover.driverjs-theme .driver-popover-progress-text {
  color: hsl(var(--foreground));
}

.driver-popover.driverjs-theme .driver-popover-next-btn {
  text-shadow: none;
  @apply h-8 px-2 border-none rounded-md bg-primary text-primary-foreground hover:bg-primary/90;
}
.driver-popover.driverjs-theme .driver-popover-prev-btn {
  text-shadow: none;
  @apply h-8 px-2 border-none rounded-md bg-primary text-primary-foreground hover:bg-primary/90;
}

.driver-popover.driverjs-theme .driver-popover-navigation-btns {
  gap: 3px;
}

.driver-popover.driverjs-theme .driver-popover-close-btn {
  border: 1px solid hsl(var(--border));
  @apply border rounded-md;
  @apply absolute top-2 right-2;
  @apply flex items-start justify-center;
  @apply hover:bg-accent hover:text-foreground;
}

.driver-popover.driverjs-theme
  .driver-popover-arrow-side-left.driver-popover-arrow {
  border-left-color: hsl(var(--border));
}

.driver-popover.driverjs-theme
  .driver-popover-arrow-side-right.driver-popover-arrow {
  border-right-color: hsl(var(--border));
}

.driver-popover.driverjs-theme
  .driver-popover-arrow-side-top.driver-popover-arrow {
  border-top-color: hsl(var(--border));
}

.driver-popover.driverjs-theme
  .driver-popover-arrow-side-bottom.driver-popover-arrow {
  border-bottom-color: hsl(var(--border));
}

.driver-overlay {
  @apply bg-background/20;
}

.driver-active-element {
  @apply bg-primary text-foreground;
}
